{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %} Dashboard | Login{% endblock  %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="{% static 'js/flot/excanvas.min.js' %}"></script><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/cloud-admin.css' %}" >
    
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/uniform/css/uniform.default.min.css' %}" />
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animatecss/animate.min.css' %}" />
</head>
<body class="login">    
    <!-- PAGE -->
    <section id="page">
            {% block header %} {% endblock %}
            {% block main_body %} {% endblock %}
    </section>
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQUERY -->
    <script src="{% static 'js/jquery/jquery-2.0.3.min.js' %}"></script>
    <!-- JQUERY UI-->
    <script src="{% static 'js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <!-- BOOTSTRAP -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    
    <!-- UNIFORM -->
    <script type="text/javascript" src="{% static 'js/uniform/jquery.uniform.min.js' %}"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        jQuery(document).ready(function() {     
            App.setPage("login");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
    <script type="text/javascript">
        function swapScreen(id) {
            jQuery('.visible').removeClass('visible animated fadeInUp');
            jQuery('#'+id).addClass('visible animated fadeInUp');
        }
    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>